@import "normalize";
@import "var";
// @import "fonts";
//@import "mixins";

html,
body {
  height: 100%;
}

body {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: rgb(161, 100, 223);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

main {
  flex: 1 1 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: rebeccapurple;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 30px;
  text-transform: uppercase;
  margin: 1rem;
}
